.card__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;

  .card--light {
    background: white;
  }

  .card__imagen {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
  }

  .card {
    margin: 2rem;
    max-width: 300px;
    padding: 2rem;
    box-shadow: 0 10px 30px -10px rgb(0, 0, 0.45);
  }
}

.parra__fo {
  color: #997d7d;
  @include flex-alingItems-justify;
  justify-content: center;
  margin: 1rem;
  font-size: 20px;
}
