.vido__maps {
  margin: 2rem;
  @include flex-wrap-center;
}

.parra__fu {
  @include grid-repeat-gap;

  .index__par {
    margin: 2rem;
    max-width: 300px;
    padding: 2rem;
    box-shadow: 0 10px 30px -10px rgb(0, 0, 0.45);
    background-color: #022c3a;
    color: #997d7d;
    font-size: 20px;
  }
}

.conteiner__2 {
  justify-content: center;
  align-items: center;
  @include grid-repeat-gap margin: 1rem;
  background-color: #052e3c;
  padding: 1rem;
  box-shadow: 0 10px 30px -10px rgb(0, 0, 0.45);

  .list__b {
    list-style-type: none;
    @include center-center-center;

    .list__a {
      color: #ffffff;
      height: 30px;
      @include center-center-center;
      margin-top: 6px;
    }
  }
}

.bo__row {
  @include flex-wrap-center;
  margin: 1rem;
  padding: 1rem;

  .bo__ton {
    display: inline-block;
    padding: 1rem 2rem;
    background: black;
    color: #e7d8d8;
    border-radius: 2rem;
    border: none;
    outline: 2px solid #997d7d;
    outline-offset: 3px;
    font-size: 20px;
    margin: 1rem;
  }
}
.co__lor {
  color: #ffffff;
}
.tarjetas:hover {
  box-shadow: 5px 5px -20px rgba(0, 0, 0, 0.5);
  transform: translateY(-3%);
  background-color: rgb(188, 186, 186);
}

body {
  background-color: #023141;
  background-size: cover;
  background-attachment: fixed;
}

.letra__titulo {
  color: #997d7d;
  font-size: 48px;
  align-items: center;
  text-align: center;

  margin: 2rem;
}
